.background {
  background-color: #d4c685;
}

a {
  color: #ebebeb;
}

section {
  max-width: 1080px;
  margin: 0 auto;
}

.navigation {
  background: dimgray;
  display: inline-block;
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 10px 15px;
  border: 3px solid rgba(68, 67, 67, 0.493);
  margin: 0px;
  border-radius: 5px;
}

.main-image {
  height: 400px;
  width: 400px;
  margin: 0px auto;
}

.main-image__index {
  height: 400px;
  width: 400px;
  margin: 0px auto;
  border-radius: 100%;
}

.page-header {
  color: #102542;
  display: block;
  top: 100px;
  text-align: center;
}

p {
  color: #3b1f2b;
}

.article-header {
  color: #273b55;
  background: rgb(24, 178, 224);
  padding: 5px 15px;
  border-radius: 5px;
  border: 3px solid rgba(68, 67, 67, 0.493);
  text-align: center;
}

.article-header__text {
  background: rgb(24, 178, 224);
  overflow: initial;
  min-width: 200px;
  min-height: 200px;
  padding: 10px;
  border: 3px solid rgba(68, 67, 67, 0.493);
  margin: 10px;
  box-sizing: border-box;
}

.foot-background {
  background: rgb(24, 178, 224);
  padding-left: 10px;
  border: 3px solid rgba(68, 67, 67, 0.493);
  border-radius: 5px;
}

b {
  color: rgba(0, 0, 0, 0.79);
}

.topper {
  background: dimgray;
  display: inline-block;
  top: 0px;
  left: 0px;
  min-width: 50px;
  padding: 5px;
  border: 3px solid rgba(68, 67, 67, 0.493);
  margin: 0px;
  border-radius: 5px;
}
