.background {
  background: rgb(20,45,255);
  background: linear-gradient(143deg, rgba(20,45,255,1) 11%, rgba(160,0,175,1) 28%, rgba(240,15,30,0.9066001400560224) 93%);;
}

a {
  color: #ebebeb;
}

section {
  max-width: 1080px;
  margin: 0 auto;
}

.navigation {
  display: flex;
  justify-content: center;
  background: dimgray;
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 5px 7px;
  border-collapse: separate;
  border: 2px solid rgba(68, 67, 67, 0.493);
  margin: 0px;
  border-radius: 5px;
}

.navigation__link {
  color: #ebebeb;
  width: 50px;
  border: 1px solid #ebebeb;
  border-radius: 15px;
  margin-right: 5px;
}

.navigation__link--index {
  color: hotpink;
  min-width: 50px;
  border: 1px solid hotpink;
  border-radius: 15px;
  margin-right: 5px;
}

.navigation__link--html {
  color: hotpink;
  min-width: 50px;
  border: 1px solid hotpink;
  border-radius: 15px;
  margin-right: 5px;
}

.navigation__link--learning {
  color: hotpink;
  min-width: 50px;
  border: 1px solid hotpink;
  border-radius: 15px;
  margin-right: 5px;
}

.navigation__link--css {
  color: hotpink;
  min-width: 50px;
  border: 1px solid hotpink;
  border-radius: 15px;
  margin-right: 5px;
}

.navigation__link--js {
  color: hotpink;
  min-width: 50px;
  border: 1px solid hotpink;
  border-radius: 15px;
  margin-right: 5px;
}

.main-image {
  height: 400px;
  width: 400px;
  margin: 0px auto;
}

.main-image__index {
  max-height: 400px;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 100%;
}

.page-header {
  color: #102542;
  display: block;
  top: 100px;
  text-align: center;
}

p {
  color: #3b1f2b;
}

.section {
  color: #273b55;
  background: rgb(24, 178, 224);
  width: 700px;
  padding: 5px 15px;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 3px solid rgba(68, 67, 67, 0.493);
}

.section__header {
  text-align: center;
}

.article {
}

.article__header {
  color: #273b55;
  background: rgb(24, 178, 224);
  padding: 20px 15px;
  width: 450px;
  margin: 0 auto;
  text-align: center;
  border-bottom: 1px solid black;
}

.article__header--text {
  color: #273b55;
  background: rgb(24, 178, 224);
  padding: 5px 15px;
  width: 500px;
  margin: 0 auto;
  text-align: left;
  border: 0;
}

.footer {
  background: rgb(24, 178, 224);
  padding: 0 30px;
  border: 3px solid rgba(68, 67, 67, 0.493);
  border-radius: 5px;
  max-width: 400px;
  margin: 0 auto;
}

b {
  color: rgba(0, 0, 0, 0.79);
}
